<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MAIN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/main.css">
    
    
</head>

<body>
    <div class="header">
        <img id="logo-img" alt="logo-img" class="right" src="../public/png/logo8.png" style="width:200px;height:200px;">
        <h1>RUBBER DUCKING</h1>
        <p>The ultimate social networking for coders !!!</p>
        
        
    </div>
    <div class="wrapper">
    {{{body}}}

    <div class="push"></div>
    </div>
    <footer class="footer">Powered by::RubberDucklings</footer>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.3/lib/darkmode-js.min.js"></script>
<script>
        var options = {
            bottom: '64px', // default: '32px'
            right: '32px', // default: '32px'
            left: 'unset', // default: 'unset'
            time: '0.5s', // default: '0.3s'
            mixColor: '#fff', // default: '#fff'
            backgroundColor: '#fff',  // default: '#fff'
            buttonColorDark: '#green',  // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: true, // default: true,
            label: '🌓', // default: ''
            autoMatchOsTheme: true // default: true
        }

        const darkmode = new Darkmode(options);
        darkmode.showWidget();
</script>
</body>

</html>